@font-face {
    font-family: "Inria-Sans";
    src: url("../fonts/Inria_Sans/InriaSans-Regular.ttf");
}

@font-face {
    font-family: "Inria-Sans";
    src: url("../fonts/Inria_Sans/InriaSans-Bold.ttf");
}

@font-face {
    font-family: "Inria-Sans";
    src: url("../fonts/Inria_Sans/InriaSans-Light.ttf");
}

* {
    font-family: "Inria-Sans";
}
